<template>
    <div>
        <display></display>
        <edit></edit>
    </div>
</template>

<script>
    import  Display from './fooComponent/Display';
    import  Edit from './fooComponent/Edit';
	export default {
		components: {
			display: Display,
            edit: Edit
        }
	}
</script>

<style scoped>

</style>