<template>
    <div class="caldera-config-field">
        <label for="foo">
            Foo
        </label>

        <input
            type="text"
            v-model="foo"
            id="foo"
        />
    </div>
</template>

<script>
	export default {

	}
</script>

<style scoped>

</style>