<template>
    <div>
        <div>
            <status
                :message="mainStatus.message"
                :success="mainStatus.success"
                :show="mainStatus.show"
            ></status>
        </div>
        <foo></foo>
        <form
            v-on:submit.prevent="save()"
        >
            <input
              type="submit"
              value="Save"
              class="button button-primary"
            />

        </form>

    </div>
</template>

<script>
    import fooComponent from '../components/fooComponent';
    import cfStatus  from 'vue-cf-status/Status';
	export default {
        components :{
        	foo: fooComponent,
			status: cfStatus
        },
        mounted() {
            this.$store.dispatch( 'getFoo' );
        },
        methods: {
        	save(){
        		console.log(this.foo);
        		return this.$store.dispatch( 'save' );
            }
        }
	}
</script>

<style>

</style>